@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem !important;
  min-height: 100vh;
  color: rgb(22, 24, 35);
  direction: ltr;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

button {
  outline: none;
  border: none;
}

/*-------------------*/
.breadcrumb {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 1.5rem 0;
}
.breadcrumb ul {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.breadcrumb ul a {
  color: #2d4271;
  font-weight: bold;
}
.breadcrumb ul li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: ">";
}

h2 {
  font-size: 3.2rem !important;
  font-weight: 700;
  color: #2d4271;
  margin-bottom: 2.5rem !important;
  font-family: "Roboto", sans-serif;
}

.login {
  height: 100%;
  width: 50rem;
  margin: 3rem auto;
}
@media (max-width: 768px) {
  .login {
    width: 85%;
  }
}

.form-wrap .login-title {
  padding: 1.5rem 0;
}
.form-wrap .login-title h5 {
  font-size: 2.1rem;
  color: #2d4271;
  padding: 1.5rem 0;
}
.form-wrap .login-title h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2d4271;
}
.form-wrap .login-form h2 {
  font-size: 2.3rem;
  color: #2d4271;
  font-weight: 600;
  background-color: #fff;
  margin-bottom: 3rem;
}
.form-wrap .login-form form {
  margin: 0 3rem;
}
.form-wrap .login-form form label {
  font-size: 1.6rem;
  color: #2d4271;
}
.form-wrap .login-form form input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  outline: none;
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form input::-webkit-input-placeholder {
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form input::-moz-placeholder {
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form input:-ms-input-placeholder {
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form input::-ms-input-placeholder {
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form input::placeholder {
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form .text-end {
  padding: 1.5rem 0;
}
.form-wrap .login-form form .text-end a {
  color: #2d4271;
  text-decoration: none;
  font-weight: 500;
}
.form-wrap .login-form form button {
  background-color: #fd5056;
  padding: 1.5rem 20px;
  border-radius: 4px;
}
.form-wrap .login-form form button i {
  padding: 0 1rem;
}
.form-wrap .login-form form button:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.9;
  background-color: #c74045;
}
.form-wrap .login-form form .form-or {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  color: #2d4271;
  font-weight: 400;
}
.form-wrap .login-form form .form-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .form-wrap .login-form form .form-on {
    padding: 0 !important;
  }
}
.form-wrap .login-form form .form-on div {
  padding: 2.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 599px) {
  .form-wrap .login-form form .form-on div {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form-wrap .login-form form .form-on div:hover {
  opacity: 0.9;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.form-wrap .login-form form .form-on div a {
  text-decoration: none;
  color: #fff;
}
.form-wrap .login-form form .form-on div i {
  padding-right: 5px;
}
.form-wrap .login-form form .form-on .btn-facebook {
  background-color: #4267b2;
}
.form-wrap .login-form form .form-on .btn-google {
  background-color: #fd5056;
}

.TourSearch {
  padding: 2rem 0;
  font-family: Roboto, sans-serif;
}
.TourSearch__title {
  font-size: 2.4rem !important;
  font-weight: bold;
  color: #2d4271;
  margin-bottom: 10px;
  padding: 1.5rem 0;
  line-height: 1.5;
}

.TourSearch__left {
  padding: 0;
  background-color: rgb(249, 249, 249);
}
.TourSearch__left .l-title {
  color: #2d4271;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.3rem 0;
}
.TourSearch__left--select select {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 10px;
  color: #2d4271;
}
.TourSearch__left .TourSearch__btn button {
  font-size: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 0 #e2f3ff;
          box-shadow: 0 2px 0 #e2f3ff;
  border-radius: 5px;
  color: #2d4271;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.TourSearch__left .TourSearch__btn button:hover {
  background-color: #4d4aef;
  color: #fff;
}
.TourSearch__left .TourSearch__btn button.active {
  background-color: #4d4aef;
  color: #fff;
}
.TourSearch__left--departure input {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 10px;
  color: #2d4271;
  cursor: pointer;
}
.TourSearch__left .toggle {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 4rem;
}
.TourSearch__left .toggle .slider {
  position: relative;
  background-color: #ccc;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}
.TourSearch__left .toggle .slider::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 0;
  height: 13px;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 15px;
  border-radius: 50px;
  margin: 1px 0;
}
.TourSearch__left .toggle .label-text {
  position: absolute;
  top: 50%;
  left: 5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  min-width: 10rem;
}
.TourSearch__left .toggle input[type=checkbox] {
  display: none;
}
.TourSearch__left .toggle input[type=checkbox]:checked + .slider {
  background-color: #4d4aef;
}
.TourSearch__left .toggle input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.TourSearch__right {
  padding: 10px;
  margin-bottom: 3rem;
}
.TourSearch__right--search {
  margin-bottom: 3rem;
}
.TourSearch__right--search a {
  color: #2d4271;
  padding: 1rem 2rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 0 #e2f3ff;
          box-shadow: 0 2px 0 #e2f3ff;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.TourSearch__right--search a i {
  margin-right: 1.5rem;
}
.TourSearch__right--search a:hover {
  background-color: #4d4aef;
  color: #fff;
}
.TourSearch__right--card {
  border: none;
}
.TourSearch__right--card img {
  width: 100%;
  height: 20rem !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.TourSearch__right--card p {
  padding: 1.5rem 2.5rem;
  color: #2d4271;
  font-weight: bold;
  font-size: 1.7rem;
}

.TourOrder {
  margin-bottom: 6.7rem;
  font-family: Roboto, sans-serif;
}
.TourOrder__card {
  background-color: #f9f9f9;
  margin: 0 10px;
  margin-bottom: 5rem;
  border-radius: 10px;
}
.TourOrder__card .TourOrder__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.TourOrder__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}
.TourOrder__rating--point {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdc432;
  width: 4.5rem;
  height: 3.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  margin-right: 5px;
  font-size: 2rem;
  font-weight: bold;
}
.TourOrder__rating--point::before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #fdc432;
}
.TourOrder__rating--feedback {
  margin-left: 4px;
  color: #2d4271;
  font-weight: bold;
}
.TourOrder__title {
  margin-bottom: 3rem;
}
.TourOrder__title h2 {
  font-size: 2.4rem !important;
  color: #2d4271;
  font-weight: bold;
}
.TourOrder__desc p {
  font-size: 1.4rem;
  color: #2d4271;
  font-weight: 400;
}
.TourOrder__desc span {
  font-weight: bold;
  padding-left: 8px;
}

.TourOrder__info {
  padding: 0 10px;
}
.TourOrder__info h2 {
  color: #2d4271;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.TourOrder__info h3 {
  color: #2d4271;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.TourOrder__info h4 {
  font-size: 1.6rem;
  color: #2d4271;
  font-weight: 600;
}
.TourOrder__info h5 {
  color: #2d4271;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.TourOrder__info .customer-contact {
  margin-bottom: 2rem;
}
.TourOrder__info .customer-contact form {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  border-radius: 10px;
}
.TourOrder__info .customer-contact label {
  font-size: 1.4rem;
  color: #2d4271;
  line-height: 1.5;
  margin-bottom: 5px;
}
.TourOrder__info .customer-contact label b {
  color: #fd5056;
}
.TourOrder__info .customer-contact input {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  height: 4rem;
  margin-bottom: 5px;
}
.TourOrder__info .customer-notify {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  border-radius: 10px;
  color: #2d4271;
  margin-bottom: 3rem;
}
.TourOrder__info .customer-notify span {
  font-weight: bold;
}
.TourOrder__info .customer-info {
  margin-bottom: 3rem;
}
.TourOrder__info .customer-info table {
  background-color: #f9f9f9;
  width: 100%;
  border-radius: 10px;
}
.TourOrder__info .customer-info th,
.TourOrder__info .customer-info td {
  padding: 1.3rem 2rem;
}
.TourOrder__info .customer-info th {
  color: #2d4271;
}
.TourOrder__info .customer-info tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}
.TourOrder__info .customer-info input[type=text],
.TourOrder__info .customer-info select {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 4rem;
  font-size: 1.6rem;
  color: #2d4271;
}
.TourOrder__info .customer-info input[type=date] {
  width: 100%;
  height: 4rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #2d4271;
}
@media (max-width: 768px) {
  .TourOrder__info .customer-info table {
    font-size: 14px;
  }
  .TourOrder__info .customer-info th,
  .TourOrder__info .customer-info td {
    padding: 5px;
  }
  .TourOrder__info .customer-info input[type=date] {
    display: inline-block;
    margin-top: 5px;
  }
}
.TourOrder__info .customer-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}
.TourOrder__info .customer-quantity .change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  margin-bottom: 13px;
  padding: 10px 15px;
}
.TourOrder__info .customer-quantity .change .change-number i {
  margin: 0 3px;
  color: #2d4271;
}
.TourOrder__info .customer-help {
  margin-bottom: 3rem;
}
.TourOrder__info .customer-help .help {
  background-color: #f9f9f9;
  padding: 2rem;
}
.TourOrder__info .customer-help .help textarea {
  width: 100%;
  padding: 2rem;
  border: 1px solid #e7e7e7;
  min-height: 15rem;
  max-height: 26rem;
}
.TourOrder__info .customer-help .help textarea:focus-visible {
  outline: none;
}
.TourOrder__info--group {
  padding-left: 5rem;
}
.TourOrder__info--group .group-support h5 {
  font-size: 1.6rem;
  color: #2d4271;
  margin-top: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.TourOrder__info--group .group-support .group-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4d4aef;
  background-color: #fff;
  max-width: 30rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}
.TourOrder__info--group .group-support .group-contact i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
}
.TourOrder__info--group .group-support .group-contact p {
  margin: 5px 0;
}
.TourOrder__info--group .group-support .group-contact .phone {
  height: auto;
  background-color: #4d4aef;
  border-radius: 1.5rem;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.4rem;
}
.TourOrder__info--group .group-support .group-contact .mail {
  padding: 5px 15px;
  font-size: 1.4rem;
}
.TourOrder__info--group .group-sumary {
  border: 1px solid #d5d5d5;
  padding: 20px;
  color: #2d4271;
}
.TourOrder__info--group .group-sumary h3 {
  font-size: 22px;
  font-weight: 700;
}
.TourOrder__info--group .group-sumary .number {
  font-size: 13px;
}
.TourOrder__info--group .group-sumary .group-product .img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.TourOrder__info--group .group-sumary .group-product .title h4 {
  font-size: 15px;
}
.TourOrder__info--group .group-sumary .group-go .start h4, .TourOrder__info--group .group-sumary .group-go .end h4 {
  font-size: 13px;
  font-weight: 400;
}
.TourOrder__info--group .group-sumary .group-go .start p, .TourOrder__info--group .group-sumary .group-go .end p {
  font-size: 15px;
  font-weight: 700;
}
.TourOrder__info--group .group-sumary .group-tourist {
  display: grid;
}
.TourOrder__info--group .group-sumary .group-tourist table tbody tr th, .TourOrder__info--group .group-sumary .group-tourist td {
  padding-top: 20px;
}
.TourOrder__info--group .group-sumary .group-tourist table tbody tr .total {
  color: #4d4aef;
  font-size: 25px;
  font-weight: 300;
}
.TourOrder__info--group .group-sumary .group-tourist table tbody tr .details {
  font-size: 11px;
  font-weight: 300;
}
.TourOrder__info--group .group-sumary .group-tourist table tbody tr :nth-child(odd) {
  margin: 0;
}
.TourOrder__info--group .group-sumary .group-tourist table tbody tr :nth-child(even) {
  text-align: end;
}
.TourOrder__info--group .group-sumary .group-tourist table tbody .price th {
  border-top: 1px solid #d5d5d5;
}
.TourOrder__info--group .group-sumary .group-tourist .price p {
  font-size: 22px;
  color: #fd5056;
  font-weight: 700;
}
.TourOrder__info--group .group-sumary .group-submit button {
  margin: 15px 0;
  border-radius: 10px;
}

.TourDetails {
  padding: 5rem 10px;
  font-family: Roboto, sans-serif;
  background-color: #f9f9f9;
}
.TourDetails__ticket {
  color: #4d4aef;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.TourDetails__ticket i {
  margin-right: 1rem;
}
.TourDetails__title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2d4271;
  margin-bottom: 1rem;
  max-width: 100%;
}
.TourDetails__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.TourDetails__rating--point {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdc432;
  width: 6.5rem;
  height: 5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  margin-right: 5px;
  font-size: 2rem;
  font-weight: bold;
}
.TourDetails__rating--point::before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #fdc432;
}
.TourDetails__rating--feedback {
  margin-left: 4px;
  color: #2d4271;
  font-weight: 400;
}
.TourDetails__discount {
  color: #2d4271;
  font-size: 1.4rem;
}
.TourDetails__discount span {
  text-decoration: line-through;
}
.TourDetails__price {
  font-size: 1.6rem;
  color: #2d4271;
}
.TourDetails__price span {
  color: #fd5056;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 0;
}
.TourDetails__cart .cart,
.TourDetails__cart .group {
  color: #fff;
  display: inline-block;
  padding: 1.5rem 2rem;
  background-image: linear-gradient(64.4deg, #fd5056 21.33%, #fe2214 67.61%);
  border-radius: 5px;
  font-size: 1.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}
.TourDetails__cart .cart i,
.TourDetails__cart .group i {
  margin-right: 5px;
}
.TourDetails__cart .cart:hover,
.TourDetails__cart .group:hover {
  opacity: 0.8;
}
.TourDetails__cart .group {
  border: 1px solid #2d4271;
  color: #2d4271;
  background-color: #f9f9f9;
  background-image: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.TourDetails__cart .group:hover {
  background-color: #2d4271;
  color: #fff;
}
.TourDetails .tour-images {
  margin: 3rem 0;
}
.TourDetails .tour-images img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.TourDetails__section {
  padding: 0 10px;
}
.TourDetails__section--detail {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.TourDetails__section--detail p {
  color: #2d4271;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.TourDetails__section--detail span {
  font-weight: bold;
}
.TourDetails__section--detail a {
  padding: 5px 10px;
  border: 1px solid #4d4aef;
  font-size: 1.5rem;
  border-radius: 5px;
}
.TourDetails__section--detail a span {
  font-weight: 500;
  color: #2d4271;
}
.TourDetails__section--detail a i {
  margin-right: 1rem;
  color: #4d4aef;
}
.TourDetails__section--support h5 {
  font-size: 1.6rem;
  color: #2d4271;
  margin-top: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.TourDetails__section--support .group-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4d4aef;
  background-color: #fff;
  max-width: 30rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}
.TourDetails__section--support .group-contact i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
}
.TourDetails__section--support .group-contact p {
  margin: 5px 0;
}
.TourDetails__section--support .group-contact .phone {
  height: auto;
  background-color: #4d4aef;
  border-radius: 1.5rem;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.4rem;
}
.TourDetails__section--support .group-contact .mail {
  padding: 5px 15px;
  font-size: 1.4rem;
}
.TourDetails__section--icon {
  padding-left: 3rem;
  border-bottom: 1px solid #2d4271;
}
.TourDetails__section--icon img {
  width: 100%;
  width: 4rem;
  margin-bottom: 10px;
}
.TourDetails__section--icon h5 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: #2d4271;
  font-weight: 700;
  line-height: 1.5;
  height: 5rem;
}
.TourDetails__section--icon p {
  font-size: 1.3rem;
  color: #2d4271;
}

.TourDetails__desc {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  margin: 3rem 0;
  --bs-gutter-x: 0 !important;
}
.TourDetails__desc h3 {
  padding: 2rem;
  color: #2d4271;
  font-weight: bold;
  font-size: 2.4rem;
}
.TourDetails__desc--desc {
  background-color: #f9f9f9;
  padding: 3rem;
  color: #2d4271;
}
.TourDetails__desc--desc li {
  list-style-type: circle;
  padding: 5px;
}
.TourDetails__desc--short {
  background-color: #f9f9f9;
  padding: 3rem;
  color: #2d4271;
}
.TourDetails__desc--short li {
  list-style-type: circle;
  padding: 5px;
}

.TourDetails__info {
  padding: 0 10px;
  font-family: Roboto, sans-serif;
  margin-bottom: 3rem;
}
.TourDetails__info h2 {
  font-size: 2.4rem;
  color: #2d4271;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}
.TourDetails__info--bill, .TourDetails__info--item {
  background-color: #f9f9f9;
  padding: 1.5rem 2.5rem;
  color: #2d4271;
  min-height: 30rem;
}
.TourDetails__info--bill th {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 5px 0;
}
.TourDetails__info--bill tr,
.TourDetails__info--bill td {
  padding: 15px 0;
  max-width: 28rem;
}
.TourDetails__info--bill .price {
  color: #fd5056;
}
.TourDetails__info--item p {
  padding: 5px 0;
}
.TourDetails__info--item .title span {
  font-size: 1.9rem;
  font-weight: bold;
}

.TouDetails__help {
  margin-bottom: 3rem;
  padding: 0 10px;
  font-family: Roboto, sans-serif;
}
.TouDetails__help h3 {
  text-align: center;
  color: #2d4271;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.TouDetails__help .accordion-item {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border: none;
}
.TouDetails__help .accordion-item button {
  background-color: #f9f9f9;
  font-size: 1.7rem;
  padding: 2rem 3.5rem;
  color: #2d4271;
  font-weight: bold;
  border: none;
}
.TouDetails__help .accordion-item .accordion-body {
  padding: 2rem 4rem;
  color: #2d4271;
}

.appMobie__title, .newsletter__title, .tour__title, .infomation__title, .travel-outside__title, .contact__titleSocial, .contact__title, .travel-inside__title {
  font: 18px roboto, sans-serif;
  font-weight: 700;
  line-height: 30px;
  margin: 10px 0px;
  width: 100%;
  text-align: start;
  color: #2d4271;
}

.tour__listMenu, .infomation__listMenu, .travel-outside__listMenu, .travel-inside__listMenu {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
}

.appMobie__scan-android p, .appMobie__scan-ios p, .tour__listMenu-menu--item a, .infomation__listMenu-menu--item a, .travel-outside__listMenu-menu--item a, .contact__datetime, .travel-inside__listMenu-menu--item a, .footer__bottom p {
  color: #2d4271;
  font: 13px roboto, sans-serif;
  text-align: left;
}

.footer {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.footer__top {
  padding: 60px 10px;
  background: #f9f9f9;
  margin-bottom: 2rem;
}
.footer__bottom {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px 0px;
}
.footer__bottom p a {
  color: #2d4271;
}

.travel-inside__listMenu-menu {
  padding: 0px;
  margin: 0px;
}
.travel-inside__listMenu-menu--item {
  line-height: 30px;
}
.contact__info p {
  font-weight: 300;
  margin: 20px 0px 0px 0px;
  line-height: 30px;
  color: #2d4271;
  font: 13px roboto, sans-serif;
  text-align: start;
}
.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 10px 0px;
  font-weight: 300;
  line-height: 30px;
}
.contact__socials-social {
  margin: 0px 0px;
  padding-right: 20px;
  text-align: start;
}
.contact__socials-social a i {
  color: #2d4271;
}
.contact__call {
  font-weight: 700;
  text-align: left;
  margin: 10px 0px;
  padding: 0px;
  line-height: 30px;
}
.contact__call .btn {
  border-radius: 10px;
  width: 176px;
  height: 50px;
  font: 22px roboto, sans-serif;
  min-height: 80%;
}
.contact__datetime {
  text-align: start;
}

.travel-outside__listMenu-menu {
  padding: 0px;
  margin: 0px;
}
.travel-outside__listMenu-menu--item {
  line-height: 30px;
}
.infomation__listMenu-menu {
  padding: 0px;
  margin: 0px;
}
.infomation__listMenu-menu--item {
  line-height: 30px;
  text-align: -webkit-match-parent;
}
.tour__listMenu-menu {
  padding: 0px;
  margin: 0px;
}
.tour__listMenu-menu--item {
  line-height: 30px;
  text-align: -webkit-match-parent;
}
.newsletter__form-email, .newsletter__form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  max-width: 22em;
}
.newsletter__form-email input, .newsletter__form-search input {
  padding: 0px 20px;
  border: 1px solid #2d4271;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}
.newsletter__form-email input:focus, .newsletter__form-search input:focus {
  border: 1px solid #2d4271;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.newsletter__form-email button, .newsletter__form-search button {
  border: 1px solid #2d4271;
  border-radius: 0px 10px 10px 0px;
}
.newsletter__security-payment {
  max-width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newsletter__security {
  margin-right: 5rem;
  max-width: 10em;
}

.appMobie__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.appMobie__scan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.appMobie__scan-android p, .appMobie__scan-ios p {
  margin: 10px 0px;
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
  .footer__top {
    padding: 0px 10px;
  }
  .travel-inside__title, .travel-inside__titleSocial,
  .travel-outside__title,
  .travel-outside__titleSocial,
  .tour__title,
  .tour__titleSocial,
  .contact__title,
  .contact__titleSocial,
  .infomation__title,
  .infomation__titleSocial,
  .newsletter__title,
  .newsletter__titleSocial,
  .appMobie__title,
  .appMobie__titleSocial {
    font: 13px roboto, sans-serif;
    color: #2d4271;
    font-weight: 700;
    line-height: 30px;
  }
}
header {
  height: 6.5rem;
}

nav {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30rem;
}
nav .logo {
  max-width: 17rem;
}
nav .logo img {
  padding: 0 10px;
}
nav .user_mobile {
  font-size: 1.8rem;
  color: #2d4271;
  text-align: end;
}
nav .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
nav .dropdown-full {
  width: 100vw;
}
nav .navbar-nav li {
  margin: 0 10px;
  padding: 8px 0;
  text-align: start;
}
nav .navbar-nav a {
  color: #2d4271;
  font-size: 1.3rem;
  font-weight: bold;
}
nav .navbar-nav a i {
  font-size: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navbar-nav .nav-right {
  display: block;
}
nav .navbar-nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ffc709;
  height: 5rem;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
}
nav .navbar-nav form .form-control {
  border: none;
  outline: none;
  background: none;
  width: 20rem;
  padding: 10px 0 10px 15px;
  font-size: 1.4rem;
  color: #2d4271;
}
nav .navbar-nav form .form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
nav .navbar-nav form .form-control::-webkit-input-placeholder {
  color: #2d4271;
  font-weight: 500;
}
nav .navbar-nav form .form-control::-moz-placeholder {
  color: #2d4271;
  font-weight: 500;
}
nav .navbar-nav form .form-control:-ms-input-placeholder {
  color: #2d4271;
  font-weight: 500;
}
nav .navbar-nav form .form-control::-ms-input-placeholder {
  color: #2d4271;
  font-weight: 500;
}
nav .navbar-nav form .form-control::placeholder {
  color: #2d4271;
  font-weight: 500;
}
nav .navbar-nav form .form-btn {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.7rem;
}
nav .navbar-nav form .form-btn:hover {
  background-color: none;
}

@media (max-width: 1023px) {
  .nav-right {
    display: none !important;
  }
}
.tour-carousel {
  padding: 0 10px;
  margin-top: 1.5rem;
}

.owl-carousel .owl-item {
  border-radius: 10px;
  overflow: hidden;
}
.owl-carousel .owl-stage {
  -webkit-transition: all 0.7s ease-in-out !important;
  transition: all 0.7s ease-in-out !important;
}

.tour-product {
  padding: 10px;
}
.tour-product .product-end button {
  font: 16px roboto, sans-serif;
  font-weight: 700;
  border: 1px solid #ced4de;
  background: none;
  color: #2d4271;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 24px;
  margin: 24px 0px 0px 0px;
}
.tour-product .product-end button:hover {
  border: 1px solid #2d4271;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

.product-item {
  border-radius: 1.5rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.product-item:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
.product-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.product-item__category {
  display: inline-block;
  background-color: #2d4271;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}
.product-item__category a {
  text-decoration: none;
  color: #fff;
  padding: 2px;
}
.product-item__category a:hover {
  color: #fff;
}
.product-item__title a {
  font-size: 1.6rem;
  color: #2d4271;
  text-decoration: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.product-item__rating .star-booking {
  color: #f8ce0b;
}
.product-item__price .card-text {
  font-size: 1.4rem;
  font-weight: 500;
}
.product-item__price .card-price__current--number {
  font-size: 2rem;
  font-weight: bold;
}
.product-item__price .card-price__current--text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 5px;
}
.product-item .card-text {
  font-size: 1.4rem;
}
.product-item__review {
  margin-bottom: 2rem;
}
.product-item__review--point {
  position: relative;
  display: inline-block;
  background-color: #fdc432;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  margin-right: 5px;
  font-size: 1.8rem;
  font-weight: bold;
}
.product-item__review--point::before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #fdc432;
}
.product-item__review--feedback {
  margin-left: 4px;
  color: #2d4271;
  font-weight: bold;
}
.product-item__location {
  font-size: 1.3rem;
  color: #4d4aef;
  margin-bottom: 2rem;
}
.product-item__location i {
  margin-right: 5px;
}
.product-item__summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-item__summary::before {
  content: "";
  position: absolute;
  left: 0;
  height: calc(100% - 30px);
  top: 1.5rem;
  width: 0.5px;
  background-color: #d8d8d8;
}
.product-item__summary .product-item__price .card-text {
  color: #2d4271;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}
.product-item__summary .product-item__price .card-price__current--number {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fd5056;
}
.product-item__summary .product-item__price .card-date {
  color: #2d4271;
  font-size: 1.5rem;
  line-height: 1.5;
}
.product-item__summary .product-item__btn button {
  width: 70%;
  border: 1px solid #4d4aef;
  color: #4d4aef;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.product-item__summary .product-item__btn button:hover {
  background-color: #4d4aef;
  color: #fff;
}
.product-item__summary .product-item__btn a {
  width: 70%;
  background-color: #fd5056;
  padding: 8px 0;
  border: none;
  font-size: 1.5rem;
}
.product-item__summary .product-item__btn a:hover {
  background-color: #de4449;
}
.product-item__details {
  padding: 5px;
}
.product-item__details .product-item__category {
  display: none;
  padding: 2px;
  display: inline-block;
}
.product-item__details .product-item__title a {
  text-decoration: none;
}
.product-item__details .product-item__rating {
  margin-top: 10px;
}
.product-item__details .product-item__rating .star-booking {
  display: inline-block;
}
.product-item__details .product-item__rating .star-booking .icon.fa.fa-star {
  color: gold;
}
.product-item__details .product-item__price {
  margin-top: 15px;
}
.product-item__details .product-item__price .card-text {
  color: #2d4271;
}
.product-item__details .product-item__price .card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-item__details .product-item__price .card-price__current--number {
  font-size: 18px;
  color: #de4449;
  font-weight: bold;
}
.product-item__details .product-item__price .card-price__current--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #2d4271;
}
.product-item__details .product-item__price .btn.btn-primary.btn-sm {
  background-color: #fd5056;
  padding: 8px;
  border: none;
  font-size: 1.5rem;
}
.product-item__details .product-item__price .btn.btn-primary.btn-sm i {
  margin-right: 5px;
}
.product-item__details .product-item__price .btn.btn-primary.btn-sm label {
  font-size: 12px;
}
.product-item__details .card-text {
  color: #6c757d;
}
.product-item__details .product-item__review {
  text-align: end;
  margin-top: 10px;
}
.product-item__details .product-item__review--point {
  font-size: 20px;
  font-weight: bold;
}
.product-item__details .product-item__review--feedback {
  font-size: 14px;
}
.product-item__details .product-item__location {
  display: none;
  margin-top: 10px;
}
.product-item__details .product-item__location .fa.fa-location-dot {
  color: #888;
  margin-right: 5px;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .product-item__image {
    margin-bottom: 2rem;
    height: 30rem !important;
  }
  .product-item__image img {
    border-radius: 1.5rem;
    height: 100%;
  }
}
@media (max-width: 739px) {
  .product-item__image {
    margin-bottom: 2rem;
    height: 25rem !important;
  }
  .product-item__image img {
    border-radius: 1.5rem;
  }
}
/*  Start: Tour Select */
.services {
  padding: 0 10px;
}
.services__main {
  text-align: center;
}
.services__main--title {
  font: 17px roboto, sans-serif;
  color: #2d4271;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}
.services__main i {
  background: -webkit-gradient(linear, left top, left bottom, from(#4d4aef), to(#adabff));
  background: linear-gradient(180deg, #4d4aef, #adabff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.services__main--text {
  font: 15px roboto, sans-serif;
  color: #2d4271;
  font-weight: 400;
  line-height: 24px;
}

/*  End: Tour Select */
.TourMain {
  position: relative;
  margin-bottom: 13rem;
}
.TourMain__both {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 0 !important;
  margin: 0;
  width: 100%;
}
.TourMain__both--nav {
  background-color: rgba(45, 66, 113, 0.8);
  padding: 0px;
  margin: 0px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
}
.TourMain__both--nav .nav-item {
  overflow: hidden;
  -webkit-transition: none !important;
  transition: none !important;
}
.TourMain__both--nav .nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  font: 13px roboto, sans-serif;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  padding: 2rem 3rem;
  color: white;
  border-radius: 10px 10px 0px 0px;
  overflow: visible;
  width: 100%;
  height: 100%;
}
.TourMain__both--nav .nav-link p {
  padding: 0px;
  margin: 0px;
}
.TourMain__both--nav .nav-link .badge {
  position: absolute;
  right: -20%;
  top: 20%;
  border-radius: 10px;
  overflow: visible;
}
.TourMain__both--nav .nav-link small {
  margin-right: 4rem;
}
.TourMain__both--nav .nav-link.active {
  font: 13px roboto, sans-serif;
  color: #4d4aef;
  font-weight: 700;
  line-height: 30px;
  border: none;
  width: 100%;
  height: 100%;
}
.TourMain__both--nav .nav-link:hover {
  width: 100%;
  color: #4d4aef;
  border: none;
  background: white;
  height: 100%;
}
.TourMain .nav-link.active {
  border-top-left-radius: 10px;
}

@media screen and (max-width: 768px) {
  .TourMain {
    display: none;
  }
}
/* Start Tourkp */
.tourkp {
  padding: 0 10px;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 10px;
}
.tourkp__card {
  position: relative;
  padding-right: 0 !important;
  margin-bottom: 3rem;
}
.tourkp__img {
  width: 100%;
}
.tourkp__img img {
  height: 33rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
}
.tourkp__text a {
  position: absolute;
  bottom: 0rem;
  color: #fff;
  padding: 4rem 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 66, 113, 0)), to(#2d4271));
  background-image: linear-gradient(180deg, rgba(45, 66, 113, 0) 0%, #2d4271 100%);
}
.tourkp__text a:hover {
  color: #fff;
}

/* End Tourkp */
/* Start Tour Place */
.TourPlace {
  margin-bottom: 2rem;
}
.TourPlace h2 {
  padding: 0 10px;
}
.TourPlace__content--img {
  margin-bottom: 1rem;
}
.TourPlace__content--img img {
  position: relative;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.TourPlace__content--img i {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  color: white;
}
.TourPlace__content--img i::before {
  content: "\f132";
}
.TourPlace .content-text {
  margin-left: 1rem;
}
.TourPlace__content--place {
  margin-bottom: 1rem;
}
.TourPlace__content--place a {
  font-family: "Roboto", sans-serif;
  color: #2d4271;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 1.8rem;
  text-decoration: none;
}
.TourPlace__content--desc p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #2d4271;
}

/* End Tour Place */
/* Start TourCard */
.TourCard {
  padding: 0 10px;
}
.TourCard .card {
  border-radius: 1rem;
}
.TourCard .card:hover {
  -webkit-box-shadow: 3px 3px 10px rgba(95, 95, 95, 0.5);
          box-shadow: 3px 3px 10px rgba(95, 95, 95, 0.5);
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}
.TourCard img {
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  overflow: hidden;
}
.TourCard__title {
  font: 30px roboto, sans-serif;
  font-weight: 700;
  color: #2d4271;
  margin-bottom: 24px;
}
.TourCard .img {
  position: relative;
}
.TourCard .img .img-icon,
.TourCard .img .img-bottom,
.TourCard .img .img-sumary {
  position: absolute;
}
.TourCard .img .img-icon {
  top: 1em;
  left: 1em;
  color: #fff;
  background-color: rgba(92, 92, 92, 0.2823529412);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.TourCard .img .img-bottom {
  font: 15px roboto, sans-serif;
  bottom: 0%;
  left: 0%;
  background: #fff;
  padding: 5px 10px;
  color: #4d4aef;
}
.TourCard .img .img-sumary {
  top: 1em;
  right: 1em;
  text-align: end;
}
.TourCard .img .img-sumary .img-sumary--ratting {
  background: #fdc432;
  display: inline;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px 5px 0px 5px;
  position: relative;
}
.TourCard .img .img-sumary .img-sumary--ratting::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #fdc432;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 1;
}
.TourCard .img .img-sumary .img-sumary--review {
  background-color: rgba(92, 92, 92, 0.2823529412);
  color: #fff;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 1rem;
  border-radius: 10px;
}
.TourCard .img .img-sumary .img-sumary--review p {
  background-color: rgba(109, 109, 109, 0.3882352941);
  padding: 3px;
}
.TourCard .body {
  padding: 16px;
  font: 15px roboto, sans-serif;
}
.TourCard .body .p-date {
  font-size: 13px;
  color: #2d4271;
}
.TourCard .body .p-title {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6rem;
  height: 6rem;
}
.TourCard .body .p-title a {
  font-size: 16px;
  color: #2d4271;
  font-weight: 700;
  line-height: 20px;
}
.TourCard .body .code,
.TourCard .body .p-startPlace,
.TourCard .body .price-old {
  font-size: 15px;
  color: #2d4271;
}
.TourCard .body .price-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.TourCard .body .price-now .price-now-number {
  font-size: 18px;
  color: #fd5056;
  font-weight: 700;
}
.TourCard .body .price-now .price-now-discount {
  font-size: 11px;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  background: #fd5056;
  padding: 10px 5px;
}
.TourCard .body .timer {
  font-size: 11px;
  border: 1px solid #4d4aef;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
  margin: 10px 0px 20px;
  color: #4d4aef;
}
.TourCard .body .addList-numberSit {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0px;
}
.TourCard .body .addList-numberSit .addList a,
.TourCard .body .addList-numberSit .addList i {
  color: #4d4aef;
}
.TourCard .body .addList-numberSit .numberSit p.text-decoration-underline {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2d4271;
}
.TourCard .TourCard__btn button {
  font: 16px roboto, sans-serif;
  font-weight: 700;
  border: 1px solid #ced4de;
  background: none;
  color: #2d4271;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 24px;
  margin: 24px 0px 0px 0px;
}
.TourCard .TourCard__btn button:hover {
  border: 1px solid #2d4271;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

/* End TourCard */