$fontSmall: 13px roboto, sans-serif;
$fontNor: 18px roboto, sans-serif;
%TitleStyle {
    font: 18px roboto, sans-serif;
    font-weight: 700;
    line-height: 30px;
    margin: 10px 0px;
    width: 100%;
    text-align: start;
    color: $nav-clr;
}

%listMenuStyle {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: start;
}

%menuItemStyle {
    color: $nav-clr;
    font: 13px roboto, sans-serif;;
    text-align: left;
}

//------------CSS------------------
.footer {
    min-width: fit-content;
    &__top {
        padding: 60px 10px;
         background: #f9f9f9;
         margin-bottom: 2rem;
    }
    &__bottom {
        width: 100%;
        object-fit: contain;
        padding: 20px 0px;
        & p {
            @extend %menuItemStyle;
            & a {
                color: $nav-clr;
            }
        }
    }
}

.travel-inside {
    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                a {
                    @extend %menuItemStyle;
                }
            }
        }
    }
}

//Liên hệ
.contact {
    &__title {
        @extend %TitleStyle;
    }

    &__info p {
        font-weight: 300;
        margin: 20px 0px 0px 0px;

        line-height: 30px;
        color: $nav-clr;
        font: 13px roboto, sans-serif;
        text-align: start;
    }

    &__titleSocial {
        @extend %TitleStyle;
    }

    &__socials {
        display: flex;
        padding: 0px;
        margin: 10px 0px;
        font-weight: 300;
        line-height: 30px;

        &-social {
            margin: 0px 0px;
            padding-right: 20px;
            text-align: start;
        }

        &-social a i {
            color: $nav-clr;
        }
    }

    &__call {
        font-weight: 700;
        text-align: left;
        margin: 10px 0px;
        padding: 0px;
        line-height: 30px;
    }

    &__call .btn {
        border-radius: 10px;
        width: 176px;
        height: 50px;
        font: 22px roboto, sans-serif;
        min-height: 80%;
    }

    &__datetime {
        @extend %menuItemStyle;
        text-align: start;
    }
}

.travel-outside {
    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                a {
                    @extend %menuItemStyle;
                }
            }
        }
    }
}

//Thông tin
.infomation {
    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                text-align: -webkit-match-parent;
            }

            &--item a {
                @extend %menuItemStyle;
            }
        }
    }
}

//Tour
.tour {
    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                text-align: -webkit-match-parent;
            }

            &--item a {
                @extend %menuItemStyle;
            }
        }
    }
}

//Newsletter
.newsletter {
    &__title {
        @extend %TitleStyle;
    }

    &__form {
        &-email,
        &-search {
            display: flex;
            height: 40px;
            max-width: 22em;

            & input {
                padding: 0px 20px;
                border: 1px solid $nav-clr;
                border-right: none;
                border-radius: 10px 0px 0px 10px;

                &:focus {
                    border: 1px solid $nav-clr;
                    box-shadow: none;
                }
            }
            & button {
                border: 1px solid $nav-clr;
                border-radius: 0px 10px 10px 0px;
            }
        }
    }
    &__security-payment {
        max-width: 30em;
        display: flex;
        margin: 10px 0px;
        justify-content: space-between;
    }
    &__security {
        margin-right: 5rem;
        max-width: 10em;
    }
}

.appMobie {
    &__title {
        @extend %TitleStyle;
    }
    &__down {
        display: flex;
        justify-content: space-between;
    }
    &__scan {
        display: flex;
        justify-content: space-between;
        &-android p,
        &-ios p {
            @extend %menuItemStyle;
            margin: 10px 0px;
        }
    }
}
@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }
    .footer__top {
        padding: 0px 10px;
    }
    .travel-inside,
    .travel-outside,
    .tour,
    .contact,
    .infomation,
    .newsletter,
    .appMobie {
        &__title,
        &__titleSocial {
            font: $fontSmall;
            color: $nav-clr;
            font-weight: 700;
            line-height: 30px;
        }
    }
}
